In [13]:
import pandas as pd

#Create basic dataframe with Pandas
YesNo = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

#Create basic dataframe that contains strings
BobTed = pd.DataFrame({'Bod': ['I like it', 'I hate it'], 'Ted': ['Tasty', 'Gross']})

fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})

#Create basic dataframe with index's
indexed = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

fruit_sales = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]},
                          index=['2017 Sales', '2018 Sales'])

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [10]:
#building a series (list)

listed=pd.Series([1, 2, 3, 4, 5])

listed

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
#building a series (list)
#with index

sales = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [23]:
# read csv and update index column
wine_reviews = pd.read_csv("../Data/winemag-data_first150k.csv", index_col=0)
wine_reviews.head()
#dimensions of wine_reviews dataframe
#wine_reviews.shape

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [18]:
# Save Dataframe as a csv
wine_reviews.to_csv("../Data/wine_list.csv")

In [25]:
#making a series from a column within a data frame
#wine_reviews.country
# or
wine_reviews["country"]

0                  US
1               Spain
2                  US
3                  US
4              France
5               Spain
6               Spain
7               Spain
8                  US
9                  US
10              Italy
11                 US
12                 US
13             France
14                 US
15                 US
16                 US
17              Spain
18             France
19                 US
20                 US
21              Spain
22              Spain
23                 US
24                 US
25        New Zealand
26                 US
27                 US
28                 US
29                 US
             ...
150900          Chile
150901          Chile
150902          Chile
150903          Chile
150904          Chile
150905          Chile
150906         France
150907         France
150908         France
150909         France
150910         France
150911         France
150912         France
150913         France
150914             US
150915             US
150916             US
150917         France
150918         France
150919         France
150920          Italy
150921         France
150922          Italy
150923         France
150924         France
150925          Italy
150926         France
150927          Italy
150928         France
150929          Italy
Name: country, Length: 150930, dtype: object

In [36]:
# indexing to select the first row of data from wine_reviews
# both iloc and loc are row first then column
# iloc is an index based selector where loc is label based

#wine_reviews.iloc[0]

# retrieve all the countries
#wine_reviews.iloc[:, 0]

# retrieve the first 3 countries
#wine_reviews.iloc[:3, 0]

# retrieve only the second and thrid country
#wine_reviews.iloc[1:3, 0]

# to retrieve last 5 countries
#wine_reviews.iloc[-5:, 0]

# use loc to retrieve data
wine_reviews.loc[0, "country"]

'US'